<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034652443856-ki7imf9qua5aain68da3am4dqt7cqd6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034652443856-ki7imf9qua5aain68da3am4dqt7cqd6h</string>
	<key>API_KEY</key>
	<string>AIzaSyBz4Q49ofyGWLo5ojtw2GwKFrV8av9yiOE</string>
	<key>GCM_SENDER_ID</key>
	<string>1034652443856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp.1</string>
	<key>PROJECT_ID</key>
	<string>namido-204a7</string>
	<key>STORAGE_BUCKET</key>
	<string>namido-204a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034652443856:ios:7530549bcebc7d1c9eaad5</string>
</dict>
</plist>